.homepage__title__button {
  width: 380px;
  font-size: 16px;
  color: #ffffff;
  padding: 21px 23px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  @media (max-width: 576px) {
    width: 100%;
  }
  .span__arrow{
    @media (max-width: 576px) {
      display: none;
    }
 
  }
 
  &__text {
    font-weight: 700;
    text-transform: uppercase;
  }
}
