.homepage {
  &__cover {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 576px) {
      align-items: flex-end;
      padding-bottom: 40px;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
      z-index: -1;
    }
    &__title {
      margin-left: 80px;
      @media (max-width: 576px) {
        width: 100% !important;
        margin-left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 260px 36px 0;
      }
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 100px;
        color: #ffffff;
        text-transform: uppercase;
        @media (max-width: 576px) {
          font-size: 48px;
          text-align: center;
        }
      }
    }
  }
  &__footwear__cover {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title {
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 100px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
        @media (max-width: 768px) {
          font-size: 46px;
        }
      }
      p {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 100;
        text-align: center;
        font-size: 18px;
        letter-spacing: 6px;
        @media (max-width: 576px) {
          font-size: 12px;
        }
      }
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
      z-index: -1;
    }
    &__footer {
      height: 135px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(17, 25, 40, 0.1);
      display: flex;
      align-items: center;
      &__left {
        display: flex;
        justify-content: end;
        font-size: 24px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 300;
        padding-right: 40px;
        cursor: pointer;
        @media (max-width: 576px) {
          font-size: 16px;
        }
      }
      &__right {
        cursor: pointer;

        border-left: 1px solid white;
        padding-left: 40px;
        font-size: 24px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 300;
        @media (max-width: 576px) {
          font-size: 16px;
        }
      }
      @media (max-width: 576px) {
        height: 73px;
      }
    }
  }
}
