.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  height: 55px;
  display: flex;
  border-top: 1px solid #363636 !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  margin: 0 !important;
}
.css-o4b71y-MuiAccordionSummary-content {
  text-align: center;
}
.accordion__name {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #363636;
}
.css-15v22id-MuiAccordionDetails-root {
  padding: 0;
}
.css-15v22id-MuiAccordionDetails-root {
  border: none !important;
}
.css-15v22id-MuiAccordionDetails-root {
  padding: 0 !important;
}

.accordion__ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding: 0 40px 0 16px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      text-align: center;
    }
  }
}
