.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  width: 100%;
}
.my__menu__icon {
  font-size: 16px;
  color: white;
}
.menu__footer {
  position: absolute;
  bottom: 0;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #363636;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;

  color: #363636;
}

.menu__content {
  margin-top: 62px;

  &__icons {
    position: absolute;
    bottom: 85px;
    margin: 0;
    display: flex;
    padding: 0 70px;
    width: 100%;
    justify-content: space-between;
    &__link {
      color: #363636;
    }
  }
  .menswear__content__active {
    right: 0 !important;
  }
  .menswear__content {
    position: absolute;
    width: 100%;
    right: -100%;
    // height: 40%;
    top: 117px;
    z-index: 2;
    background: red;
    transition: 100ms linear;
  }
  &__ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      // height: 55px;
      border-bottom: 1px solid #363636;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
      font-family: "Inter";
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      text-transform: uppercase;
      .title__span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: #363636;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .span__icon {
        position: absolute;
        right: 24px;
      }
    }
  }
}
