.box {

    background-color: white;
    padding: 38px 55px;

    .ordermessage {
        .status {
            font-size: 32px;
            line-height: 26px;
        }
        .message{
            
        }
    }
}