.product__box {
  width: 32%;
  background: #dad9d6;
  margin-bottom: 20px;
  &:hover {
    .produc__img {
      transform: scale(1.2);
    }
  }
  @media (max-width: 568px) {
    width: 48%;
    height: 165px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    height: 300px;
    width: 100%;
    padding: 26px;
    @media (max-width: 568px) {
      width: 155px;
      height: 120px;
      padding: 0;
    }
    .slick-slider {
      height: 100%;
      .slick-list {
        height: 100%;
        .slick-track {
          height: 100%;
        }
        .slick-slide {
          height: 100%;
          & > div {
            height: 100%;
          }
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transition: 100ms ease-in;
    }
  }
  &__content {
    display: flex;
    padding-bottom: 23px;
    @media (max-width: 568px) {
      padding-bottom: 23px;
    }
    &__arrow {
      display: flex;
      align-items: center;
      justify-content: end;
      @media (max-width: 568px) {
        display: none;
      }
    }
    &__details {
      @media (max-width: 568px) {
        width: 100% !important;
        padding-left: 14px;
      }
      h3 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #363636;
        margin: 0;
        text-transform: uppercase;
        @media (max-width: 568px) {
          font-size: 10px;
        }
      }
      span {
        color: #363636;
        font-weight: 300;
        @media (max-width: 568px) {
          font-size: 10px;
        }
      }
    }
  }
}
.pagination__ul {
  display: flex;
  justify-content: center;
  margin: 48px 0;
  .active__page {
    text-decoration: underline;
  }
  ul {
    width: 250px;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;

    li {
      list-style: none;
      a {
        padding-bottom: 20px;
      }
      .page__arrow__icon {
        color: #363636;
        display: flex;
        height: 100%;
        align-items: center;
      }
    }
  }
}
