.shop {
  &__cover {
    height: 540px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    @media (max-width: 768px) {
      height: 235px;
    }
    img {
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      width: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }
    h1 {
      font-family: "Inter";
      font-style: normal;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 500;
      font-size: 100px;
      margin-left: 80px;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  &__content {
    &__container {
      &__filter {
        margin-bottom: 51px;
        .filter__ul {
          display: flex;
          padding: 0;
          margin: 0;
          border-bottom: 1px solid #363636;
          .filter__li__center {
            @media (max-width: 768px) {
              justify-content: center;
            }
          }
          .li__none {
            padding: 0 35px;
          }
          @media (max-width: 768px) {
            .li__none {
              display: none !important;
            }
            border: none;
            justify-content: space-between;
          }
          .filter__li {
            list-style: none;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #363636;

            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
            .span__size {
              @media (min-width: 768px) {
                display: flex;
              }
            }
            .chevron__icon {
              margin-left: 11px;
              display: flex;
              font-size: 20px;
            }
            @media (max-width: 768px) {
              border: none;
            }
            &:last-child {
              border: none;
            }
          }
          #categories {
            position: relative;

            .filter__categories__hover {
              position: absolute;
              width: 100%;
              top: 100%;
              background: rgba(0, 0, 0, 0.25);
              backdrop-filter: blur(17.5px);

              height: 0;

              opacity: 0;
              visibility: hidden;
              transition: 300ms ease-in-out;
              &__ul {
                padding: 46px 0 46px 24px;
                &__li {
                  list-style: none;

                  font-family: "Inter";
                  font-style: normal;
                  font-weight: 300;
                  font-size: 16px;
                  line-height: 19px;
                  text-transform: uppercase;

                  color: #ffffff;
                }
              }
            }
          }
          #categories:hover {
            .filter__categories__hover {
              height: max-content;

              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      &__products {
        justify-content: space-between;
        @media (max-width: 768px) {
          justify-content: space-around;
        }
      }
    }
  }
}
