.singleproduct {
  &__cover {
    width: 100%;
    height: 1570px;
    background-image: url(../images/productbackground.png);
    background-position: center;
    background-size: cover;
    @media (max-width: 576px) {
      background: #fff;
    }
    &__container {
      color: white;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 576px) {
        padding: 0 20px;
        justify-content: flex-start;
        margin-top: 90px;
      }
      &__h {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        border-bottom: 1.5px solid #ffffff;
        line-height: 19px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 51px;

        color: #ffffff;
        @media (max-width: 576px) {
          border: none;

          display: block;
          text-align: center;
          color: #363636;
        }
      }
      &__row {
        justify-content: space-between;
        margin-bottom: 25px;
        @media (max-width: 576px) {
          flex-direction: column;
        }
        &__album {
          background: #fff;
          width: 41%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: transparent;
          padding: 0;
          @media (max-width: 576px) {
            flex-direction: row;
            margin-top: 10px;
            width: 100%;
            height: 200px;
          }
          &__upper {
            background: #fff;
            height: 49%;
            padding: 100px;
            @media (max-width: 576px) {
              height: 100%;
              width: 49%;
              padding: 30px;
              
              background: #dad9d6;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
            }
          }
          &__under {
            background: #fff;
            height: 49%;
            padding: 100px;

            @media (max-width: 576px) {
              width: 49%;
              height: 100%;
              padding: 30px;
              background: #dad9d6;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
            }
          }
        }
        &__mainproduct {
          padding: 47px 55px 33px;
          background: #fff;
          @media (max-width: 576px) {
            width: 100%;
            background: #dad9d6;
          }
          &__header {
            display: flex;
            justify-content: space-between;
            &__icons {
              font-size: 25px;
              display: flex;
              align-items: center;
              color: #363636;
              @media (max-width: 576px) {
                font-size: 15px;
              }
            }
            &__title {
              &__h {
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                margin: 0;
                color: #363636;
              }
              &__span {
                font-size: 24px;
                font-weight: 300;
                text-transform: uppercase;
                color: #363636;
              }
              @media (max-width: 576px) {
                font-size: 14px;
                &__h {
                  font-size: 14px;
                }
                &__span {
                  font-size: 14px;
                }
              }
            }
          }
          &__image {
            width: 100%;
            padding: 20px;
            .slick-slider {
              .slick-arrow {
                &::before {
                  color: #363636;
                  position: absolute;
                  bottom: 0;
                  height: 100% !important;
                }
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
            }
          }
        }
      }
      &__details {
        background: #fff;
        padding: 47px 55px 33px;
        @media (max-width: 576px) {
          flex-direction: column;
          padding: 0;
          background: transparent;
        }
        &__left {
          &__p {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 142.52%;
            color: #000000;
            margin-bottom: 26px;
          }
          @media (max-width: 576px) {
            width: 100%;
            background: #dad9d6;

            padding: 25px 19px;
            margin-bottom: 40px;
          }
        }
        &__right {
          display: flex;
          justify-content: space-around;
          @media (max-width: 576px) {
            width: 100%;
            justify-content: space-between;
          }
          &__inputs {
            display: flex;
            justify-content: center;
            gap: 26px;
            flex-direction: column;
            width: 48%;

            &__input {
              height: 60px;
              width: 100%;
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              text-align: center;
              text-transform: uppercase;
              background: #fff;
              border: none;
              transition: 200ms ease-in-out;
              border: none;
              outline: none;
              color: #000;
              border: 1px solid black;
              padding-right: 10px;
            }
            &__select {
              width: 100%;
              height: 60px;
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              text-align: center;
              text-transform: uppercase;
              background: #fff;
              border: none;
              transition: 200ms ease-in-out;
              outline: none;
              border: 1px solid black;
              color: #000;
            }
          }
          &__btns {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 26px;
            width: 48%;

            button {
              height: 60px;
              width: 100%;
              font-family: "Inter";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              text-align: center;
              text-transform: uppercase;
              background: #000;
              border: none;
              transition: 200ms ease-in-out;
              color: #ffffff;
              &:hover {
                background: #fff;
                color: black;
                border: 1px solid black;
              }
            }
          }
        }
      }
    }
  }
}
